* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body div becomes a grid */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 4fr 0.5fr;
    gap: 20px;
}



/*Header Text */
.header {
    letter-spacing: 2px;
}

h1 {
    font-size: 4rem;
    /* Transition animation */
    transition: font-size 0.3s ease;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
}


/*Navbar customization */


#contact a:hover {
    text-decoration: underline;
    color: teal;
    transition: transform 2s ease;
}



  /*Image container for header */
  .image-container {
    position: relative;
    width: 80%;
    margin: 10 auto;
    height: 3rem;
  }

.image-container img {
    width: 80%;
    height: 100%;
    object-fit: cover;   
}
.text-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 90%;
    z-index: 1;
}




.image {
    width: 50%;
    height: 25%;

}

iframe#resume {
    width:  80%;
    height: 40%;
    src: "https://drive.google.com/file/d/1G1YUGBcqRhdskcsm9Ol7IcCwm8XlFRvX/view?usp=drive_link";
}

