h1, h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.pfp {
    border-radius: 50%;
}

.header {
    letter-spacing: 2px;
}



.higher {
    margin-top: 20vh;
}

#contact a:hover {
    text-decoration: underline;
    color: teal;
    transition: transform 2s ease;
}

h1 {
    font-size: 4rem;
    /* Transition animation */
    transition: font-size 0.3s ease;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
}

  /*Image container for header */
  .image-container {
    position: relative;
    width: 80%;
    margin: 10 auto;
    height: 3rem;
  }

.image-container img {
    width: 80%;
    height: 100%;
    object-fit: cover;   
}
.text-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 90%;
    z-index: 1;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
    padding: 30px;
    margin: 150px;
    column-gap: 20px;
}

.text {
    display: flex;
    align-items: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column; 
    justify-content: flex-start;
}

.text h1 {
    font-size: 4.5rem;
    margin-bottom: 10px;
}


.image {
    width: 50%;
    height: 25%;

}